# accessibility.config - Accessibility configuration settings for Retiled.
# Windows Phone and all other related copyrights and trademarks are property
# of Microsoft Corporation. All rights reserved to Microsoft for Microsoft's 
# copyrights and trademarks.
#
# This file is a part of the Retiled project.
# Neither Retiled nor Drew Naylor are associated with Microsoft
# and Microsoft does not endorse Retiled.
# Any other copyrights and trademarks belong to their
# respective people and companies/organizations.
#
#
#   Due to this file essentially being a configuration file, this file
#   may be used in any form for any purpose and is not restricted by
#   any license. If this paragraph results in this file being incompatible
#   with the license of a project you'd like to use it with,
#   then the MIT License applies to this file as follows:
#
#      Copyright (C) 2022-2023 Drew Naylor
# 
#      Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated 
#      documentation files (the “Software”), to deal in the Software without restriction, including without limitation 
#      the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and 
#      to permit persons to whom the Software is furnished to do so, subject to the following conditions:
# 
#      The above copyright notice and this permission notice shall be included in all copies or substantial portions 
#      of the Software.
# 
#      THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
#      TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
#      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
#      CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
#      IN THE SOFTWARE.
#

# This file is somewhat based on the .desktop file spec, but heavily modified.



[Settings]
#   AllowParallax will allow you to turn off parallax scrolling
# when using wallpapers. Please note that setting this to false
# when using the in-tile wallpapers will shift the image up slightly,
# otherwise there'll be a gap at the top.
# Please note that this can't have quotes around it, or QML will be
# really upset.
AllowParallax=true
#   RetiledSettingsSchemaVersion determines which version of the config file
# schema we're using. Please don't manually change this, unless you want to manually
# add support for new settings not available in previous versions and you
# want to be ready when the next version is available.
RetiledSettingsSchemaVersion=0.1