# themes.config - Theme configuration settings for Retiled.
# Windows Phone and all other related copyrights and trademarks are property
# of Microsoft Corporation. All rights reserved to Microsoft for Microsoft's 
# copyrights and trademarks.
#
# This file is a part of the Retiled project.
# Neither Retiled nor Drew Naylor are associated with Microsoft
# and Microsoft does not endorse Retiled.
# Any other copyrights and trademarks belong to their
# respective people and companies/organizations.
#
#
#   Due to this file essentially being a configuration file, this file
#   may be used in any form for any purpose and is not restricted by
#   any license. If this paragraph results in this file being incompatible
#   with the license of a project you'd like to use it with,
#   then the MIT License applies to this file as follows:
#
#      Copyright (C) 2022-2023 Drew Naylor
# 
#      Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated 
#      documentation files (the “Software”), to deal in the Software without restriction, including without limitation 
#      the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and 
#      to permit persons to whom the Software is furnished to do so, subject to the following conditions:
# 
#      The above copyright notice and this permission notice shall be included in all copies or substantial portions 
#      of the Software.
# 
#      THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
#      TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
#      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
#      CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
#      IN THE SOFTWARE.
#

# This file is somewhat based on the .desktop file spec, but heavily modified.



[Settings]

#   AccentColor is what's used to highlight the user interface, for example, to show when a button is pressed in,
# as well as the fill color on most tiles (if they aren't overriding the user's Accent color in their .desktop files).
#   You can probably use pretty much any hex color code you want here, but named colors have to be spelled correctly.
#   If something is wrong or missing, it's supposed to be replaced with the default, that being Cobalt (#0050ef),
# or whatever color a packager decided should be the default. Right now, there's no easy way to change the default
# aside from editing the source files.
#    Make absolutely sure you don't put quotes in, or QML won't be able to figure it out. Invalid characters
# need to be removed, but that isn't something I want to do right now.
#    TODO: Remove invalid characters.
AccentColor=#0050ef

#   ThemeName is what Windows Phone referred to as "Background" in start+theme settings.
# It's named differently because support for alternate themes like the way the 
# old Windows theme dropdown box worked is planned.
#   By default, the only choices are "MetroLight" (mostly white) and "MetroDark" (mostly black).
#   Other themes (including transparent ones) would have to have support fine-tuned for them,
# although a simple config file saying what each control should have as a background color should be enough
# to provide this type of customization. It'll take more effort to provide support for third-party themes, though.
#   If it turns out to be simple enough to do, there will eventually be support for themes besides the default ones
# included with Retiled.
#   Please remember to avoid using double-quotes here. QML doesn't like them.
ThemeName=MetroDark

#   ThemeFamily is like how older versions of Windows had "Windows Classic" with the
# list of its themes listed in another dropdown.
#   Right now the only option is Retiled-Metro, but there may be more in the future.
#   The default is Retiled-Metro.
#   Please remember to avoid using double-quotes here. QML doesn't like them.
ThemeFamily=Retiled-Metro

#   DisplayBackgroundWallpaper will allow you to show an image behind tiles like an ordinary desktop,
# and if you have UseTileBackgroundWallpaper also set to "true", then you can use the in-tile
# wallpaper style as introduced on Windows Phone 8.1.
# Please note: by default, wallpapers have parallax scrolling. Please see the "accessibility.config"
# file to turn it off if you need to or find it annoying.
# Note 2: images don't properly fill the entire length of the tiles if you have too many of
# them and the image isn't tall enough. I don't know how to fix it, sorry.
# The default for DisplayBackgroundWallpaper is false.
# The default for UseTileBackgroundWallpaper is false.
DisplayBackgroundWallpaper=false
UseTileBackgroundWallpaper=false

#   WallpaperPath is the path to the wallpaper you wish to use.
# By default this is wallpaper.jpg (in the same folder as "Tiles.qml").
# QML doesn't seem to like double-quotes, even when you'd otherwise
# need them due to having spaces in the path.
# TODO: expand the ~ to mean /home/(username).
WallpaperPath=wallpaper.jpg

#   WallpaperOverlayLayerColor is the color that's placed on top of the
# wallpaper. Windows Phone would apply a 20% opacity black layer on top
# of background images (both user-choosable like the lock screen and Hub backgrounds)
# to make the content easier to see. You can pick anything that's a valid
# color, even hex color codes (#0050ef, for example). Just don't use
# double-quotes, because otherwise Qt will be angry.
# The default for this is black.
WallpaperOverlayLayerColor=black

#   WallpaperOverlayLayerOpacity is how opaque the wallpaper overlay layer is.
# Generally 20% (0.20) should be fine, but you can change this if you need to.
# The default is 20% (0.20), just like Windows Phone as mentioned above.
WallpaperOverlayLayerOpacity=0.20

#   IconTheme is the icon theme you want to display on tiles and in the All Apps list.
# Any icons not found in your specified icon theme fallback to HiColor, which
# is the behavior of pyxdg.
# By default this is breeze-dark (remember to not use double-quotes).
IconTheme=breeze-dark

#   RetiledSettingsSchemaVersion determines which version of the config file
# schema we're using. Please don't manually change this, unless you want to manually
# add support for new settings not available in previous versions and you
# want to be ready when the next version is available.
RetiledSettingsSchemaVersion=0.2